.add-product-section {
    width: 30%;
    margin: 80px auto;
}

.add-inner {
    border: 1px solid rgb(250, 220, 220);
    padding: 50px;
    transition: 0.5s;
}

.add-inner:hover {
    border: 1px solid rgb(255, 0, 0);
    border-radius: 20px;
    box-shadow: 20px 20px 46px #bebebe,
        -20px -20px 46px #ffffff;
}

.form-field {
    display: grid;
    gap: 10px;
}

.add-title {
    font-size: 40px;
    font-weight: bold;
    color: rgb(255, 0, 0);
    margin-bottom: 35px;
}

.form-field input {
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    width: 100%;
    border: 1px solid rgb(250, 220, 220);
    border-radius: 5px;
    background-color: rgb(250, 220, 220);
    color: rgb(255, 0, 0);
}

.form-field textarea {
    padding: 5px 5px 5px 10px;
    width: 100%;
    border: 1px solid rgb(250, 220, 220);
    border-radius: 5px;
    background-color: rgb(250, 220, 220);
    color: rgb(255, 0, 0);
}

.add-btn {
    text-align: center;
}

.add-btn button {
    margin-top: 30px;
    width: 170px;
    padding: 5px 10px;
    font-size: 20px;
    border: 1px solid rgb(250, 220, 220);
    color: rgb(255, 0, 0);
    transition: 0.5s;
    background-color: rgb(250, 220, 220);
}

.add-btn button:hover {
    border-radius: 30px;
    background-color: rgb(255, 0, 0);
    color: #fff;
}

@media only screen and (max-width:576px) {
    .add-product-section {
        width: 90%;
        margin: 60px auto;
    }

    .add-inner {
        padding: 20px;
    }

    .add-title {
        font-size: 30px;
    }

    .form-field input {
        margin-bottom: 5px;
    }

    .add-btn button {
        width: 170px;
        padding: 5px 8px;
        font-size: 18px;
    }
}

@media only screen and (min-width:577px) and (max-width:992px) {
    .add-product-section {
        width: 80%;
        margin: 80px auto;
    }

    .add-inner {
        padding: 35px;
    }

    .add-title {
        font-size: 35px;
    }
}