.contact-section {
    width: 80%;
    margin: 80px auto;
}

.contact-head {
    font-size: 40px;
    font-weight: bold;
    color: rgb(255, 0, 0);
    margin-bottom: 35px;
}

.contact-inner {
    display: flex;
    width: 100%;
}

.contact-info {
    width: 100%;
}

.form-inner {
    display: grid;
    width: 100%;
    border: 1px solid rgb(250, 220, 220);
    padding: 20px;
    transition: 0.5s;
    margin-top: -60px;
}

.form-inner:hover {
    border: 1px solid rgb(255, 0, 0);
    border-radius: 20px;
    box-shadow: 20px 20px 46px #bebebe,
        -20px -20px 46px #ffffff;
}

.form-inner input {
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    width: 100%;
    border: 1px solid rgb(250, 220, 220);
    border-radius: 5px;
    background-color: rgb(250, 220, 220);
    color: rgb(255, 0, 0);
}

.form-inner textarea {
    padding: 5px 5px 5px 10px;
    width: 100%;
    border: 1px solid rgb(250, 220, 220);
    border-radius: 5px;
    background-color: rgb(250, 220, 220);
    color: rgb(255, 0, 0);
}

.contact-text-item {
    display: flex;
    align-items: center;
}

.item-img {
    padding: 20px;
}

.svg {
    height: 45px;
    width: 45px;
    color: rgb(246 106 106);
}

.contact-btn {
    text-align: center;
    margin-top: 20px;
}

.contact-btn button {
    width: 160px;
    height: 50px;
    font-size: 24px;
    border: 1px solid rgb(250, 220, 220);
    color: rgb(255, 0, 0);
    transition: 0.5s;
    background-color: rgb(250, 220, 220);
}

.contact-btn button:hover {
    border-radius: 30px;
    background-color: rgb(255, 0, 0);
    color: #fff;
}

@media only screen and (max-width:576px) {
    .contact-section {
        width: 90%;
        margin: 80px auto;
    }

    .contact-head {
        font-size: 30px;
    }

    .contact-inner {
        display: grid;
    }

    .contact-info {
        width: 100%;
    }

    .form-inner {
        margin-top: 0px;
    }

    .svg {
        height: 35px;
        width: 35px;
        color: rgb(246 106 106);
    }

    .contact-btn button {
        width: 130px;
        height: 45px;
        font-size: 20px;
    }
}

@media only screen and (min-width:577px) and (max-width:992px) {
    .contact-head {
        font-size: 35px;
    }
}