.banner-section {
    width: 80%;
    margin: 0 auto;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    height: 75vh;
}

.banner-text h1 {
    font-size: 55px;
    margin-bottom: 30px;
    font-weight: bold;
}

.banner-text span {
    color: rgb(255, 0, 0);
}

.explore-svg {
    height: 45px;
    width: 45px;
}

.explore-btn {
    text-decoration: none;
    padding: 8px 25px;
    font-size: 24px;
    border: 1px solid rgb(250, 220, 220);
    color: rgb(255, 0, 0);
    transition: 0.5s;
    background-color: rgb(250, 220, 220);
}

.explore-btn:hover {
    border-radius: 30px;
    background-color: rgb(255, 0, 0);
    color: #fff;
}

.banner-text {
    margin-right: 20px;
}

@media only screen and (max-width:576px) {
    .banner-section {
        width: 90%;
    }

    .banner-img {
        width: 100vw;
    }

    .banner-img img {
        width: 100%;
    }

    .banner {
        display: grid;
        margin-top: 40px;
    }

    .banner-text h1 {
        font-size: 35px;
        margin-left: 20px;
    }

    .explore-svg {
        height: 25px;
        width: 25px;
    }

    .explore-btn {
        padding: 8px 25px;
        font-size: 20px;
        margin-left: 20px;
    }
}

@media only screen and (min-width:577px) and (max-width:992px) {}