.products-section {
    width: 80%;
    margin: 80px auto;
}

.products-title {
    font-size: 40px;
    font-weight: bold;
    color: rgb(255, 0, 0);
    margin-bottom: 35px;
}

.all-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}