.footer-section {
    width: 100%;
    background: #19283f;
    padding: 80px 0px 50px 0px;
}

.footer-section .footer-item-first {
    width: 100%;
}

.footer-section .footer-item-first .para {
    color: #a8b9c0;
    font-size: 13px;
    font-weight: 400;
    margin-top: 25px;
}

.footer-section .footer-item-first .copyright {
    color: #a8b9c0;
    font-size: 12px;
    font-weight: 400;
    margin-top: 35px;
}

.footer-section .footer-item-first .copyright span {
    color: #ff3150;
}

.footer-section .footer-common {
    width: 100%;
}

.footer-section .footer-common h4 {
    color: #f0f8fb;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}

.footer-section .footer-common ul {
    list-style: none;
}

.footer-section .footer-common ul li {
    margin-bottom: 10px;
}

.footer-section .footer-common ul li a {
    text-decoration: none;
    color: #a8b9c0;
    font-size: 13px;
    font-weight: 400;
    transition: 0.5s;
}

.footer-section .footer-common ul li a:hover {
    color: #ff3150;
}

.footer-section .footer-item-last h4 {
    color: #f0f8fb;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}

.footer-section .footer-item-last p {
    color: #a8b9c0;
    font-size: 13px;
    font-weight: 400;
    margin-top: 2px;
}

.footer-section .footer-item-last .btn-primary {
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    border-radius: 30px;
    margin-top: 30px;
    text-transform: uppercase;
    background: #ff3150;
    border: 1px solid #ff3150;
    transition: 1s;
}

.footer-section .footer-item-last .btn-primary:hover {
    border: 1px solid #ff3150;
    border-radius: 30px;
    background: transparent;
    color: #ff3150;
}

.footer-section .footer-item-last .btn-primary .mail {
    float: left;
    padding-left: 10px;
}

.footer-section .footer-item-last .btn-primary .icon {
    float: right;
}

.footer-section .footer-item-last .social-icons {
    margin-top: 20px;
}

.footer-section .footer-item-last .social-icons ul {
    list-style: none;
    display: flex;
}

.footer-section .footer-item-last .social-icons ul li {
    margin-right: 10px;
}

.footer-section .footer-item-last .social-icons ul li .bg-1 {
    background: #347cd2;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
}

.footer-section .footer-item-last .social-icons ul li .bg-2 {
    background: #1ec4ff;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
}

.footer-section .footer-item-last .social-icons ul li .bg-3 {
    background: #ff4032;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
}

.footer-section .footer-item-last .social-icons ul li .bg-4 {
    background: #ff3298;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
}

.footer-section .footer-item-last .social-icons ul li a {
    color: #fff;
}

.footer-section .footer-item-last .social-icons ul li a:hover .bg-1 {
    color: #347cd2;
    background: #fff;
    border: 1px solid #347cd2;
}

.footer-section .footer-item-last .social-icons ul li a:hover .bg-2 {
    color: #1ec4ff;
    background: #fff;
    border: 1px solid #1ec4ff;
}

.footer-section .footer-item-last .social-icons ul li a:hover .bg-3 {
    color: #ff4032;
    background: #fff;
    border: 1px solid #ff4032;
}

.footer-section .footer-item-last .social-icons ul li a:hover .bg-4 {
    color: #ff3298;
    background: #fff;
    border: 1px solid #ff3298;
}


@media only screen and (max-width:576px) {
    .footer-section .footer-item-last .btn-primary {
        width: 80%;
        font-size: 13px;
        font-weight: 400;
        border-radius: 30px;
        margin-top: 30px;
        text-transform: uppercase;
        background: #ff3150;
        border: 1px solid #ff3150;
        transition: 1s;
    }
}

@media only screen and (min-width:577px) and (max-width:992px) {}